# Database
DB_HOST=localhost
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password

# Site
SITE_URL=https://merch-master.com/bestellen

# Mail
MAIL_FROM=info@merch-master.com
MAIL_NAME=Merch-Master.com
MAIL_TO=info@merch-master.com

# Jortt
JORTT_CLIENT_ID=your_jortt_client_id
JORTT_CLIENT_SECRET=your_jortt_client_secret
JORTT_TOKEN_URL=https://app.jortt.nl/oauth-provider/oauth/token
JORTT_API=https://api.jortt.nl

# Admin
ADMIN_PASSWORD=your_admin_password
